@media only screen and (max-width: 1200px) {
    .sidebar {
        width: var(--sidebar-collapsed-width);
    }

    .sidebar.side-brand h2, .sidebar li {
        padding-left: 1rem;
    }

    .sidebar>.side-brand h2, .sidebar>.sidebar-menu ul a span {
        display: none;
    }

    .header {
        width: calc(100% - var(--sidebar-collapsed-width));
        left: var(--sidebar-collapsed-width);
    }

    .content-page {
        margin-left: var(--sidebar-collapsed-width);
        width: calc(100% - var(--sidebar-collapsed-width));
        padding-inline: 20px;
    }
}

@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .recent-grid {
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .header {
        left: 0;
        width: 100%;
    }

    .content-page {
        margin-left: 0;
        width: 100%;
        padding-top: calc(var(--header-height) + 14px);
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .recent-grid {
        grid-template-columns: 100%;
    }

    .search-wrapper {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: 100%;
    }
}