.content-page {
    position: relative;
    width: 75%;
    float: right;
    height: 100vh;
}

.content-page .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-page .card {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.content-page a {
    position: relative;
}

.content-page a img {
    width: 48px;
    height: 48px;
}